<div class="container">

  <h1 style="text-align: center">Editing Recipe</h1>

  <%= render 'form', recipe: @recipe %>

  <div style="text-align: center">
    <hr style="width: 70px; border-color: #4e4e4e; margin-top: 5px; margin-bottom: 2px">
    <hr style="width: 70px; border-color: #4e4e4e; margin-top: 1px; margin-bottom: 5px">
    <%= link_to 'Cancel', @recipe, class: "btn btn-danger btn-responsive-sm" %>
    <%= link_to 'Home', recipes_path, class: "btn btn-primary btn-responsive-sm" %>
  </div>

</div>

