@import "bootstrap-sprockets";
@import "bootstrap";

$overlayBg: rgba(0, 0, 0, 0.6);

html, body {
  margin: 0;
  min-height: 100%;
}

body {
  background-image: linear-gradient(to bottom, #ffffff, #eeeeee, #dddddd, #cccccc, #bbbbbb);
}

.top-buffer {
  padding-bottom: 20px;
  justify-content: center;
}

.recipe-box {
  height: 230px;
  position: relative;

  ul {
    list-style: none;
    position: absolute;
    bottom: 0;
  }

  li:first-child {
    font-size: 24px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: $overlayBg;
    color: #fff;
    opacity: 0;
    text-align: center;
    transition: .3s all;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    h2 {
      padding-top: 60px;
    }
    p {

    }
  }

  &:hover {
    .overlay {
      opacity: 1;
    }
    img {
      -webkit-filter: blur(5px);
      filter: blur(5px);
    }
  }

}

img.recipe-index {
  transition: .3s all;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.newRecipeBtn {
  text-align: center;
}

.home-icon {
  margin: 20px 0 0 0;
  text-align: center;

  .fa-home {
    color: gray;
  }
  .fa-home:hover {
    color: #4e4e4e;
  }
}

#notice {
  text-align: center;
  margin: 0;
}

.show-image {
  height: 400px;
  position: relative;
  border-radius: 10px;

  img.recipe-show {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  img.default-recipe-show {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .show-overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    color: rgba(255, 255, 255, 0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    border-radius: 10px;

    h1 {
      padding-top: 165px;
    }

  }
}

.upload-button {
  margin: 0;
}
