@import "bootstrap-sprockets";
@import "bootstrap";

$overlayBg: rgba(0, 0, 0, 0.6);

img.recipe-show {
  width: 400px;
  height: auto;
}

.top-buffer {
  padding-bottom: 20px;
  justify-content: center;
}

.recipe-box {
  height: 230px;
  position: relative;

  ul {
    list-style: none;
    position: absolute;
    bottom: 0;
  }

  li:first-child {
    font-size: 24px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: $overlayBg;
    color: #fff;
    opacity: 0;
    text-align: center;
    transition: .3s all;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    h2 {
      padding-top: 60px;
    }
    p {

    }
  }

  &:hover {
    .overlay {
      opacity: 1;
    }
    img {
      -webkit-filter: blur(5px);
      filter: blur(5px);
    }
  }

}

img.recipe-index {
  transition: .3s all;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.newRecipeBtn {
  text-align: center;
}

.col-centered {
  float: none;
  margin: 0 auto;
}